@CHARSET "UTF-8";
#content table {
	margin-left:200px;
	width:700px;
}

#content .input1 {
	width:100px;
	text-align: right;
}

#content .input2 {
	width:250px;
	height:30px;
}

#content #input_1 {
	width:250px;
	height:30px;
}

#content #inputCode {
	width:110px;
	height:30px;
}
.mycode{
    display: inline-block;
    width: 67px;
    height: 33px;
    vertical-align: middle;
    border:1px solid #e2e2e2;
    margin-left:5px;
    margin-bottom:4px;
}
#submit {
	width:200px;
	height:40px;
	margin-top:30px;
	border:1px solid #f80;
	background-color:#f80;
	color:white;
	font-size:20px;
	margin-left:100px;
}
a {
	text-decoration:none;
	color:#6868ff;
}
a:hover {
	color:#f80;
}

#input_tip1,#input_tip2 {
	display:none;
	color:red;
}