@CHARSET "UTF-8";

#content1 {
	width:1200px;
	margin:0px auto;
	min-height:670px;
	height:auto;
	padding-top:20px;
	padding-bottom:20px;
	overflow:hidden;
}

#left {
	width:280px;
	min-height:670px;
	float:left;
	overflow:hidden;
	padding-right:10px;
}

#right {
	width:900px;
	min-height:670px;
	float:right;
	overflow:hidden;
	background-color: white;
}

#left ul {
	list-style: none;
	margin: 0px;
	padding:0px;
	border-bottom: 1px dashed #b0b0b0;
	padding-bottom:20px;
}

#left ul li #name {
	margin-top: 5px;
	color:#3e3e3e;
}
#left #description {
	padding-top:20px;
	color:#3e3e3e;
	font-size:13px;
}

#right1 {
	width:700px;
	margin:10px auto;
	margin-top:15px;
	font-size:15px;
	color:#555;
	padding-bottom:10px;
	border-bottom: 1px dashed #ababab;
}

.title_info {
	font-size: 20px;
}

#right1 table {
	width:480px;
	height:100px;
	margin-left: 20px;
	margin-top: 15px;
}

#right1 table tr:first-child a {
	color:#4646ff;
	text-decoration: none;
}

#right1 table tr:first-child a:hover {
	color:red;
}

.totalprice {
	color:#f55;	
	font-size:17px;
}

#right2 {
	width:700px;
	margin:10px auto;
	margin-top:15px;
	font-size:15px;
	color:#555;
	padding-bottom:10px;
	border-bottom: 1px dashed #ababab;
}

#right2 table {
	width:700px;
	height:100px;
	margin-left: 20px;
	margin-top: 15px;
}
.td1 {
	width:78px;
}
#right2 input {
	border:1px solid #b7b7b7;
	width:200px;
	height:20px;
}
#right33 {
	width:900px;
	background-color: #f9f9f9;
	height:100%;
	padding-bottom:20px;
	padding-top:10px;
}
#right3 {
	width:700px;
	margin: 20px auto;
	color:#555;
	font-size:14px;
}

#right3 span {
	padding-top :15px;
}

#right3 ul {
	margin:10px auto;
}
#right4 {
	float:right;
	width:400px;
	height:100px;
	margin-top: 30px;	
}
#right4 ul {
	list-style: none;
}
#right4 ul li:first-child {
	width:120px;
	margin-left:10px;
}
#right4 #submit {
	float:left;
	width:150px;
	height:50px;
	background-color: #ff6c26;
	border: 1px solid #ff6c26;
	border-radius:2px;
	color:white;
	font-size:20px;
	padding-right:10px;
}

#rechoose {
	margin-top:150px;
	margin-left:50px;
}

#rechoose a {
	color:gray;
	text-decoration: none;
}
#rechoose a:hover {
	color:red;
}

/*弹出层*/
/*添加弹出层*/
#tanchu_updateTime {
	display: none;  
	position: fixed; 
	top: 25%; 
	left: 32%; 
	width: 600px;
	height:auto 
	padding: 0;
	border: 1px solid gray; 
	background-color: white; 
	z-index:1002;
	overflow: auto;
}
#tanchu_back {
	display: none; 
	position: fixed;  
	top: 0%;  
	left: 0%;  
	width: 100%;  
	height: 100%;  
	background-color: black;  
	z-index:1001;  
	-moz-opacity: 0.2;  
	opacity:.20;  
	filter: alpha(opacity=20);  
}

.close {
	width:10px;
	cursor:pointer;
	font-size: 30px;
	margin-right:0px;
}
.mycode{
    display: inline-block;
    width: 63px;
    height: 33px;
    vertical-align: middle;
    border:1px solid #e2e2e2;
    margin-left:5px;
    margin-bottom:4px;
}

#yanzhengma {
	text-decoration:none;
	color:blue;
}

#yanzhengma:hover {
	color:red;
}

